body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;  
    border-bottom: black px solid;
    background-color: black
}

 /* Começo Navbar */ 

.navbar {
    background-color: #ffffff;
    color: white;
    height: 100px;
    border-bottom: 4px rgb(4, 4, 3) solid;  
}

.container {
    width: 80%;
    height: 100px;
    margin: auto;
}

.logo {
    width: 330px;
    float: left;
    margin-top: -20px;
    margin-left: -50px;
}

.login_ico {
    float: right;
    width: 42px;
    position: absolute;
    right: 90px;
    top: 15px;
}

.login_ico:hover {
     transform: scale(1.1);
     cursor: pointer;
}   

.login_label {
    color: black;
    float: right;
    position: absolute;
    right: 88px;
    top: 62px;
    font-family:'Kanit', sans-serif;
}

.register_ico {
    float: right;
    width: 49px;
    position: absolute;
    right: 170px;
    top: 15px;
}

.register_ico:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.register_label {
    color: black;
    float: right;
    position: absolute;
    right: 166px;
    top: 62px;
    font-family:'Kanit', sans-serif;
}

.send_recipe {
    float: right;
    width: 45px;
    position: absolute;
    right: 350px;
    top: 15px;
}

.send_recipe:hover{
    transform: scale(1.1);
     cursor: pointer;
}

.send_label {
    color: black;
    float: right;
    position: absolute;
    right: 319px;
    top: 62px;
    font-family:'Kanit', sans-serif;
}

/* Fim Navbar */

/* Começo receitas */

.recipes {
    background-color: rgb(177, 200, 243);
    color: white;
    height: 600px;
    border-bottom: 4px rgb(4, 4, 3) solid;  
}


/* Começo Footer */

.footer {
    background-color: #ffffff;
    color: white;
    height: 150px;
    border-bottom: 4px rgb(4, 4, 3) solid;
}

.logoFooter {
    width: 200px;
    position: absolute;
    left: 20px;
    top: 735px;
}

.h3Footer {
    color: white;
    position: absolute;
    right: 430px;
    top: 840px; 
    font-family:'Kanit', sans-serif;
}

.email {
    color: black;
    position: absolute;
    right: 107px;
    top: 750px;
    font-weight: bold;
    font-family:'Kanit', sans-serif;
}

.tel {
    color: black;
    position: absolute;
    right: 204px;
    top: 780px;
    font-weight: bold;
    font-family:'Kanit', sans-serif;
}

.infoContato {
    color: black;
    position: absolute;
    right: 222px;
    top: 710px;
    font-family:'Kanit', sans-serif;
}

.emailLogo {
    position: absolute;
    right: 300px;
    top: 775px;
    height: 20px;
}

.telLogo {
    position: absolute;
    right: 300px;
    top: 805px;
    height: 20px;
}